aiohttp==3.8.1
awesome-slugify==1.6.5
black==22.3.0
certifi==2020.6.20
chardet==3.0.4
flake8==4.0.1
gql==3.2.0
idna==2.10
isort==5.10.1
mypy==0.950.0
python-gitlab==2.5.0
pyyaml==6.0.0
regex==2020.10.28
requests==2.24.0
requests-toolbelt==0.9.1
sentry-sdk==0.19.5
types-python-slugify==5.0.4
types-PyYAML==6.0.7
types-requests==2.27.27
Unidecode==0.4.21
urllib3==1.25.11
